<!DOCTYPE html>
<html>

<head>
  <title>หนัง-ลือ-สู !!!</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  tbody td {
    height: 51px;
  }

  .smallCell {
    width: 1px;
    white-space: nowrap;
  }
</style>

<body>
  <%- include('header') -%>
  <div class="center" style="padding: 10px 0px;">
    <div class="con900" style="text-align: left;">
      <button class="w3-button w3-large w3-circle w3-teal" style="margin: 10px 0px;"
        onclick="location.href='/dashboard/book'">
        เพิ่ม
      </button>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="ค้าหา...">
      <table class="w3-table-all w3-hoverable">
        <thead>
          <tr>
            <th style="text-align: center;" class="smallCell">หมวดหมู่</th>
            <th style="text-align: center;">ชื่อหนังสือ</th>
            <th style="text-align: center;width: 5%;">รูป</th>
            <th class="smallCell">ราคาปก</th>
            <th class="smallCell">ราคาเช่า (20%)</th>
            <th class="smallCell">จำนวน</th>

            <th style="text-align: center;" class="smallCell">การจัดการ</td>
            </th>
          </tr>
        </thead>
        <tbody id="myTable">
          <% for(var i=0; i<data.length; i++) {%>
          <tr>
            <td><%= data[i].category %></td>
            <td style="padding-left: 20px;"><%= data[i].name %></td>
            <td><img src="/images/<%= data[i].imgname %>" alt="" style="max-height:100%; max-width:100%"></td>
            <td class="w3-right-align"><%= parseFloat(data[i].price).toFixed(2) %></td>
            <td class="w3-right-align"><%= parseFloat((data[i].price) * 0.2 ).toFixed(2) %></td>
            <td class="w3-right-align"><%= parseFloat(data[i].quantity).toFixed(2) %></td>
            <td nowrap>
              <!-- <button class="w3-button w3-tiny">Tiny</button>  -->
              <button class="w3-button w3-aqua w3-small"
                onclick="location.href='/dashboard/book?id=<%= data[i]._id %>'">แก้ไข</button>
              <button class="w3-button w3-red w3-small"
                onclick="location.href='/dashboard/book/delete/<%= data[i]._id %>'">ลบ</button>
            </td>
          </tr>
          <% } %>

        </tbody>
      </table>
    </div>
  </div>

  <%- include('footer') -%>

  <!-- <p>ยินดีต้อนรับสู่ร้าน หนัง-สือ-สู !!!</p> -->
  <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
    integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</body>

</html>